kind: ConfigMap
apiVersion: v1
metadata:
  name: oro-config
  namespace: default # {"$ref":"#/definitions/io.k8s.cli.setters.namespace"}
data:
  app_url: url # {"$ref":"#/definitions/io.k8s.cli.setters.app_url"}
