kind: ConfigMap
apiVersion: v1
metadata:
  name: oro-config
  namespace: default # {"$ref":"#/definitions/io.k8s.cli.setters.namespace"}
data:
  oro_app_url: url # {"$ref":"#/definitions/io.k8s.cli.setters.oro_app_url"}
  database_host: postgres # {"$ref":"#/definitions/io.k8s.cli.setters.database_host"}
