kind: ConfigMap
apiVersion: v1
metadata:
  name: oro-config
  namespace: default # {"$ref":"#/definitions/io.k8s.cli.setters.namespace"}
data:
  oro_app_url: url # {"$ref":"#/definitions/io.k8s.cli.setters.oro_app_url"}
  database_driver: pdo_pgsql # {"$ref":"#/definitions/io.k8s.cli.setters.database_driver"}
  database_host: postgres # {"$ref":"#/definitions/io.k8s.cli.setters.database_host"}
  database_port: 5432 # {"$ref":"#/definitions/io.k8s.cli.setters.database_port"}
  database_name: database_name # {"$ref":"#/definitions/io.k8s.cli.setters.database_name"}
  database_user: postgres # {"$ref":"#/definitions/io.k8s.cli.setters.database_user"}
  database_password: password # {"$ref":"#/definitions/io.k8s.cli.setters.database_password"}
  session_handler: snc_redis.session.handler # {"$ref":"#/definitions/io.k8s.cli.setters.session_handler"}
  redis_dsn_session: redis://redis:6379/0 # {"$ref":"#/definitions/io.k8s.cli.setters.redis_dsn_session"}
  redis_dsn_cache: redis://redis:6379/1 # {"$ref":"#/definitions/io.k8s.cli.setters.redis_dsn_cache"}
  redis_dsn_doctrine: redis://redis:6379/2 # {"$ref":"#/definitions/io.k8s.cli.setters.redis_dsn_doctrine"}
