apiVersion: apps/v1
kind: Deployment
metadata:
  name: websocket
  labels:
    app: websocket
spec:
  replicas: 1
  selector:
    matchLabels:
      app: websocket
  template:
    metadata:
      labels:
        app: websocket
    spec:
      containers:
      - name: websocket
        image: aroq/php-fpm-oro:7.3.17.5
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 0.5
            memory: 1024Mi
          requests:
            cpu: 0.25
            memory: 512Mi
        volumeMounts:
        - name: code
          mountPath: /app
          subPath: html
        - name: data-var
          mountPath: /data-var
        - name: oro-parameters
          mountPath: /app/config/parameters.configmap.yml
          subPath: parameters.configmap.yml
        - name: oro-parameters
          mountPath: /usr/local/etc/php/conf.d/default.ini
          subPath: php.ini
        command:
          - "php"
          - "-d"
          - "memory_limit=-1"
          - "bin/console"
          - "gos:websocket:server"
          - "--env=prod"
          - "-vvv"
      initContainers:
      - name: copy-code
        image: code_image
        imagePullPolicy: Always
        command:
          - sh
          - "-c"
          - |
              set -x
              set -euo pipefail
              ln -nfs /data-var/config/parameters.yml /app/config/parameters.yml
              cp -fR /app /srv/html

        volumeMounts:
        - name: code
          mountPath: /srv
        - name: data-var
          mountPath: /data-var

      - name: wait-app
        image: bash
        imagePullPolicy: Always
        command:
          - /srv/html/kubernetes/scripts/wait-for-it.sh
          - "nginx:80"
          - "-t"
          - "0"

        volumeMounts:
        - name: code
          mountPath: /srv
        - name: data-var
          mountPath: /data-var
      volumes:
        - name: code
          emptyDir: {}
        - name: data-var
          persistentVolumeClaim:
            claimName: data-var
        - name: oro-parameters
          configMap:
            name: oro-parameters
