apiVersion: apps/v1
kind: Deployment
metadata:
  name: websocket
  namespace: default # {"$ref":"#/definitions/io.k8s.cli.setters.namespace"}
  labels:
    app: websocket
spec:
  replicas: 1
  selector:
    matchLabels:
      app: websocket
  template:
    metadata:
      labels:
        app: websocket
    spec:
      securityContext:
        runAsUser: 82
        runAsGroup: 82
        fsGroup: 82
      containers:
      - name: websocket
        image: 'image' # {"$ref":"#/definitions/io.k8s.cli.setters.oro_code_image"}
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 0.5
            memory: 1024Mi
          requests:
            cpu: 0.25
            memory: 512Mi
        volumeMounts:
        - name: config-files
          mountPath: /app/config/parameters.configmap.yml
          subPath: parameters.configmap.yml
        - name: oro-parameters-installed
          mountPath: /app/config/parameters.yml
          subPath: parameters.installed.yml
        - name: config-files
          mountPath: /usr/local/etc/php/conf.d/default.ini
          subPath: php.ini
        command:
        - "php"
        - "-d"
        - "memory_limit=-1"
        - "bin/console"
        - "gos:websocket:server"
        - "--env=prod"
        - "-vvv"
        env:
        - name: ASSETS_VERSION
          valueFrom:
            configMapKeyRef:
              key: assets_version
              name: oro-config
      initContainers:
      - name: copy-code
        image: 'image' # {"$ref":"#/definitions/io.k8s.cli.setters.oro_code_image"}
        imagePullPolicy: Always
        command:
        - "sh"
        - "-c"
        - |
          set -x
          mkdir -p /srv/html/kubernetes/scripts/
          ls -al /app/kubernetes/scripts/wait-for-it.sh
          cp -fR /app/kubernetes/scripts/wait-for-it.sh /srv/html/kubernetes/scripts/wait-for-it.sh
        volumeMounts:
        - name: code
          mountPath: /srv
      - name: wait-app
        image: bash
        imagePullPolicy: Always
        command:
        - "/srv/html/kubernetes/scripts/wait-for-it.sh"
        - "nginx:80"
        - "-t"
        - "0"
        volumeMounts:
        - name: code
          mountPath: /srv
      volumes:
      - name: code
        emptyDir: {}
      - name: config-files
        configMap:
          name: config-files
      - name: oro-parameters-installed
        configMap:
          name: oro-parameters-installed
